{% for sg in item_ans_tf_services.aws_sg_security_groups %} 
module "{{sg.modulename}}" {
  source  = "{{ item_ans_tf_services.aws_sg_module_source }}"
  version = "{{ item_ans_tf_services.aws_sg_module_version }}"

  name        = "{{ sg.name }}"
  vpc_id      = "${module.vpc.vpc_id}"

  tags = {
    Owner       = "{{ ans_aws_tag_owner }}"
    Environment = "{{ ans_aws_tag_environment }}"
  }

  {% if sg.ingress_with_cidr_rules is defined %}

  ingress_with_cidr_blocks = [
    {% for ingr_cidr_rule in sg.ingress_with_cidr_rules %}
     {
       rule = "{{ ingr_cidr_rule.rule }}"
       cidr_blocks = "{{ ingr_cidr_rule.cidr_blocks }}"
     },
    {% endfor %}
   ]

  {% endif %}

  {% if sg.computed_ingress_with_source_security_group_id_rules is defined %}

  computed_ingress_with_source_security_group_id = [
    {% for ingr_sg_rule in sg.computed_ingress_with_source_security_group_id_rules %}
     {
       rule = "{{ ingr_sg_rule.rule }}"
       source_security_group_id = "{{ ingr_sg_rule.source_security_group_id }}"
     },
    {% endfor %}
   ]

  number_of_computed_ingress_with_source_security_group_id = {{ sg.computed_ingress_with_source_security_group_id_rules|count }}
  {% endif %}

  egress_rules = ["all-all"]
}

{% endfor %}
